<br />
<filter-textbox (changed)="filter($event)"></filter-textbox>
<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th (click)="sort('patientId')">Patient ID</th>
            <th (click)="sort('name')">Patient Name</th>

        </tr>
    </thead>
    <tr *ngFor="let patient of filteredPatients">
        <td>
            <a [routerLink]="['/ailments', patient.patientId]">
            {{ patient.patientId}}
            </a>
        </td>
        <td>
            {{ patient.name | titlecase }}
        </td>
    </tr>
   
    <tr *ngIf="!filteredPatients || !filteredPatients.length">
        <td colspan="2">No customers found</td>
    </tr>

</table>

<br/>

Number of Patients: {{ filteredPatients.length }}
<br />